nav{
    position: fixed;
    top:0px;
    width: 100%;
    background-color: rgb(226, 230, 49);
}
body
{
    background-color:  rgb(162, 162, 231);
}
nav span{
    padding: 20px;
    float: left;
    color: white;
}
nav ul{
    list-style: none;
    float: right;
}
nav ul li{
    display: inline;
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px double black;
    padding: 13px;
    background-color: rgb(218, 160, 35);
}
#about{
    background-image: url(images/2196448_c800-600x338.jpg);
}
#am{
    
    text-align: center;
    margin: 5px auto;
    width: 200px;
    height: 460px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:black;
}
#ed
{
    text-align: center;
}
.edu{
    list-style: none;
    display:inline-block;
    border: 2px outset;
    width: 200px;
    height: 200px;
    padding: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: center;
}
#pro
{
   text-align: center;
}
.tec
{
    display: inline-block;
    width: 430px;
    height: 50px;
    padding: 5px;
    border: 2px outset;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
    text-align: center;
}
#hc{
    background-color: rgb(56, 56, 156);

}
.hob
{
    display: inline-block;
    width: 430px;
    height: 50px;
    padding: 5px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
    border: 2px outset;
    text-align: center;
}
#hobby
{
    text-align: center;
}
.i
{
    padding: 50px;
    width: 50px;
    height: 50px;
}
footer
{
    text-align: center;
    background-color: rgb(56, 56, 156);
}
h1{
    color: yellow;
}
body{
    background-color: rgb(10, 10, 83);
}